.editor-wrapper blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: #aaa;
    font-style: italic;
}

.editor-wrapper table,
th,
td {
    border: 1px solid black;
}

.btnActive {
    opacity: 1;
}

.editor-wrapper {
    font-family: 'Helvetica', 'Arial', sans-serif;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: -8px 8px 13px #ededed,
        8px -8px 13px #ffffff;
    min-height: 400px;
    min-width: 100%;
    width: fit-content;
    height: fit-content;
    padding: 20px 15px;
    color: black;
}

.editor-wrapper > div {
    min-height: 400px !important;
}

.toolbar button {
    background-color: white;
    border: none;
    opacity: 0.5;
}

.popup-wrapper {
    display: inline;
    position: relative;
}

.popup {
    position: absolute;
    left: 0;
    background-color: white;
    padding: 6px 10px;
    border: 1px solid lightgray;
    height: fit-content;
    z-index: 1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
